/* Main form */
.login-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40%; /*Moves form to vertical mid*/
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-title {
  text-align: center;
  margin-bottom: 30px;
}
.form-group {
  margin-bottom: 20px;  
}

.invalid { /*Error display*/
  border: solid 3px red !important;
  box-shadow: none !important;
}
.valid {
  border: solid 3px green !important;
  box-shadow: none !important;
}


/* navBar */
.navbar-toggler {
  background-color: black;
}
.secondary-btn {
  width: 120px;
}
.logo {
  width: 50px;
}


/* Footer */
Footer {
  background-color: #222;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  height: 40px;
  align-items: center;
}

footer>span {
  position: relative;
  top: 10px;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
}


/*Medium size for tablet*/
@media (min-width: 630px) { 
  .navbar-toggler {
    margin-left: auto;
  }
  .secondary-btn {
    margin: 20px;
  }

  #requestAccess {
    margin-left: 10px;
    /* width: 12%; */
  }
}