<ul>
  <li>
    <a href="#"
      ><img
        src="https://github.com/ashtree112/GroupPROJECT/blob/main/Logo.jpg?raw=true"
        alt="Logo"
    /></a>
  </li>
  <hr />
  <li>
    <a href="#"
      ><img
      src="https://github.com/ashtree112/GroupPROJECT/blob/main/Icon%201.jpg?raw=true"
    </a>
  </li>
  <br />
  <li>
    <a href="#"
      ><img
      src="https://github.com/ashtree112/GroupPROJECT/blob/main/Troli.jpg?raw=true""></a
    >
  </li>
  <br />
  <li>
    <a href=" #"
      ><img
        src="https://github.com/ashtree112/GroupPROJECT/blob/main/Icon%203.jpg?raw=true"
    /></a>
  </li>
  <br />
  <li>
    <a href="#"
      ><img
        src="https://github.com/ashtree112/GroupPROJECT/blob/main/Location.jpg?raw=true"
    /></a>
  </li>
  <br />
  <li>
    <a href="#"
      ><img
        src="https://github.com/ashtree112/GroupPROJECT/blob/main/Calender.jpg?raw=true"
    /></a>
  </li>
  <br />
  <li>
    <a href="#"
      ><img
        src="https://github.com/ashtree112/GroupPROJECT/blob/main/tasks.jpg?raw=true"
    /></a>
  </li>
  <li class="Settings">&#9965;</li>
</ul>
