<ul>
  <li class="text-center">
    <a href="#"
      ><img
        class="menu-item-img"
        src="https://github.com/ashtree112/GroupPROJECT/blob/main/Logo.jpg?raw=true"
        alt="Logo"
    /></a>
  </li>
  <hr />
  <li class="text-center">
    <a href="#"
      ><img class="menu-item-img"
      src="https://github.com/ashtree112/GroupPROJECT/blob/main/Icon%201.jpg?raw=true"
    </a>
  </li>
  <br />
  <li class="text-center">
    <a href="#"
      ><img class="menu-item-img"
      src="https://github.com/ashtree112/GroupPROJECT/blob/main/Troli.jpg?raw=true""></a
    >
  </li>
  <br />
  <li class="text-center">
    <a href=" #"
      ><img
        class="menu-item-img"
        src="https://github.com/ashtree112/GroupPROJECT/blob/main/Icon%203.jpg?raw=true"
    /></a>
  </li>
  <br />
  <li class="text-center">
    <a href="#"
      ><img
        class="menu-item-img"
        src="https://github.com/ashtree112/GroupPROJECT/blob/main/Location.jpg?raw=true"
    /></a>
  </li>
  <br />
  <li class="text-center">
    <a href="#"
      ><img
        class="menu-item-img"
        src="https://github.com/ashtree112/GroupPROJECT/blob/main/Calender.jpg?raw=true"
    /></a>
  </li>
  <br />
  <li class="text-center">
    <a href="#"
      ><img
        class="menu-item-img"
        src="https://github.com/ashtree112/GroupPROJECT/blob/main/tasks.jpg?raw=true"
    /></a>
  </li>
  <li ng-if="LoginExist" class="Settings text-center">
    <a href="#" alt="Log Out" title="Log Out" onclick="Logout('login')"
      ><i class="fa-solid fa-arrow-right-from-bracket"></i
    ></a>
  </li>
  <li class="Settings text-center">
    <a href="#"><i class="fa-solid fa-gear mt-2"></i></a>
  </li>
</ul>
