html {
  scroll-behavior: smooth !important;
  background-color: #f8f8f8;
}
body {
  background-color: #f8f8f8;
}
// .type1 {
//   background-color: #f8f8f8;
// }
.btn-success {
  background-color: $base-green-color;
  font-weight: bold;
}
.btn-danger {
  border-color: $base-ping-color;
  background-color: $base-ping-color;
  font-weight: bold;
  &:hover {
    border-color: $base-ping-color-Hover;
    background-color: $base-ping-color-Hover;
  }
}

.content-container {
  * {
    font-family: $base-font;
    font-weight: $base-font-weight;
  }
  a {
    color: #000;
  }
  i {
    font-size: 1.2rem;
  }
  .upper {
    text-transform: uppercase;
  }
  // .event-name {
  //   font-weight: 100;
  // }
  .bolder {
    font-weight: 600;
  }
  .greenHilight {
    color: $base-green-color;
  }
  .bg-danger {
    background-color: $base-ping-color !important;
  }
  .desc {
    color: $base-grey-color;
    font-size: 0.9rem;
  }

  .hilight {
    font-weight: bolder;
    font-size: $hilight-1;
  }

  .major {
    font-size: $hilight-0;
  }

  .box-container {
    border-radius: 20px;
    background-color: #fff;
    button {
      font-size: 0.8rem;
    }
  }
}
