.event-page {
  .flexContainer {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    background: #f8f8f8;
  }

  .title {
    top: 10%;
  }

  /*Main Content*/
  h1,
  h2,
  h3,
  h4 {
    color: #578f8c !important;
  }

  .main-container {
    position: relative;
    top: 80px;
    margin-top: 10%;
    /* right: 100px; */
  }

  .box-container {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    width: 350px;
  }

  .sidebar img {
    width: 40px;
  }

  .create-btn {
    background-color: #f0a89e;
  }

  button {
    border-radius: 10px !important;
  }

  /*Calendar*/
  .wrapper {
    /* position: fixed; */
    width: 950px;
    /* height: 600px; */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  }

  .wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
  }

  header .icons {
    display: flex;
  }

  header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }

  .icons span:last-child {
    margin-right: -10px;
  }

  header .icons span:hover {
    background: #f2f2f2;
  }

  header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
  }

  .calendar {
    padding: 20px;
  }

  .calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }

  .calendar .days {
    margin-bottom: 20px;
    /* height: 450px; */
  }

  .calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }

  .calendar .weeks li {
    font-weight: 500;
    cursor: default;
  }

  .calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }

  .days li.inactive {
    color: #aaa;
  }

  .days li.active {
    /* color: #fff; */
  }

  .days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .days li:not(.active):hover::before {
    background: #f2f2f2;
  }
}
