.internal-dashboard-page {
  .top-container {
    position: relative;
  }

  .small-box {
    margin-bottom: 30px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  }

  /*Plus button*/
  .circle {
    width: 100px;
    height: 100px;

    position: relative;
    top: 12px;
  }

  .create-btn {
    background: #fca49b !important;
  }

  .horizontal,
  .vertical {
    /*Create the lines*/
    width: 100%;
    height: 7px;
    background: white;
    pointer-events: none;
  }

  .vertical {
    /*Rotate the vertical out of the first line*/
    position: relative;
    transform: rotate(90deg);
  }

  /*Ranking items*/
  .review {
    margin-left: 150px;
  }

  .report-btn {
    position: relative;
    color: white;
    left: 35%;
    margin-bottom: 20px;
    width: 120px;
    height: 60px;
    background: #578f8c;
  }

  /*Table*/
  table {
    width: 90%;
    height: 300px;
  }
  thead {
    height: 80px;
  }
  .order-status {
    width: 100px;
  }
  .status-delivered {
    background: #578f8c;
  }
  .status-transit {
    background: #fca49b;
  }
  th,
  td {
    text-align: center !important;
  }
  .view-order-btn {
    background: #fca49b;
  }

  /*Utility classes*/
  .margin-left {
    margin-left: 100px;
  }
}
