/*Nav-bar*/
.sidebar {
  position: fixed;
  /* Position fixed to keep it on the left side */
  top: 0;
  /* Position from the top of the viewport */
  left: 0;
  /* Position from the left side of the viewport */
  width: 100px;
  /* Adjust width as needed */
  height: 100%;
  /* Full height of the viewport */
  background-color: #f8f9fa;
  /* Background color */
  padding-top: 20px;
  /* Add padding to avoid overlapping content */

  .menu-item-img {
    max-width: 40px;
  }
}

.navbar-nav {
  width: 100%;
  /* Full width of the navbar */
  flex-direction: column;
  /* Align items vertically */
}

.nav-item {
  // width: 100%;
  /* Full width of each navbar item */
  text-align: center;
  /* Center text horizontally */
}
