.Product-Catelogue-page {
  background-color: #e0e0e0;
  font-family: "Montserrat", sans-serif;

  .nav-link {
    text-align: center; /* Center the content horizontally */
  }

  .nav-link img {
    width: 75px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 15px;
  }

  .sidebar-sticky {
    position: relative;
    height: 100%;
  }

  .bg-custom {
    background-color: #e0e0e0;
    padding: 0;
  }

  // .Settings {
  //   color: rgb(240, 168, 158);
  //   font-size: 50px;
  //   position: absolute;
  //   bottom: 10%;
  //   list-style: none;
  // }

  .pagination {
    display: flex;
    justify-content: flex-end; /* Align pagination links to the right */
  }

  .pagination .page-item {
    margin-left: auto; /* Push items to the right */
  }

  .pagination .page-item .page-link {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #000 !important;
  }

  .pagination .page-item .page-link:hover {
    background-color: rgba(240, 169, 158, 0.5) !important;
  }

  .dropdown-container {
    display: flex;
    justify-content: space-between; /* To place "Categories" and dropdown horizontally opposite */
    align-items: center; /* To vertically center align "Categories" */
  }

  .product-count {
    font-weight: bold;
  }

  .categories-header {
    margin-right: auto; /* To push "Categories" to the right */
  }

  .dropdown {
    position: relative; /* Ensure proper positioning for dropdown */
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-title {
    color: rgb(99, 141, 139); /* Text color */
    font-size: 32px; /* Adjust font size as needed */
    font-weight: bold;
  }

  .cart-icon {
    width: 30px; /* Adjust width of the image */
    height: auto; /* Maintain aspect ratio */
  }

  .plus-btn {
    margin-right: 10px;
    font-size: 25px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the font bold */
  }
  .product-link {
    text-decoration: none;
    color: #000;
  }

  .product-link:hover {
    text-decoration: underline;
    color: #666;
  }

  .quantity-info {
    margin-top: 10px; /* Adjust margin as needed */
  }

  .quantity {
    font-weight: bold; /* Make the quantity number bold */
    color: #333; /* Adjust color as needed */
  }

  .product-info {
    display: flex;
    align-items: center;
  }

  .product-details {
    margin-left: auto; /* Pushes the product details to the right */
  }

  .product-description {
    margin-bottom: 0; /* Remove default bottom margin */
  }

  .plus-btn {
    margin-right: 10px;
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the font bold */
  }

  .product-link {
    text-decoration: none;
    color: #000;
  }

  .product-link:hover {
    text-decoration: underline;
    color: #666;
  }

  .container-fluid {
    margin-bottom: 10px;
  }
}
