@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
$base-color: #fff;
$base-green-color: #568f8c;

$base-ping-color: #eb5757;
// $base-ping-color: #f8a59a;
$base-grey-color: #a3a3a3;

$hilight-0: 2.20rem;
$hilight-1: 2.00rem;
$hilight-3: 1.10rem;

$base-font: 'Poppins', sans-serif;
$base-font-weight: 500;

